@import '~bootstrap/scss/bootstrap';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';


header {
    height: 80px; /* Imposta l'altezza dell'header */
    line-height: 80px; /* Centra verticalmente il contenuto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   background-color: white;

    box-shadow: 7px 8px 8px #9a9a9a;
}

.header-dark {
    background-color: #000000; /* Sfondo nero quando scorre */
    color: white;

}

body {
    margin-top: 80px; /* Allinea il contenuto sotto l'header */
}

.header-link{
    text-decoration: none;
}